This is your Journal

    <form action="/journal/new" method="get">
      <button type="submit">Add Your Own Wine</button>
    </form>

{{ journalFromDB.wine }}

<div class='wine-view'>

  {{wineInfo1.length}}
  
  {{#each journalFromDB}}
  {{> journalCard this}}
  {{/each}}

</div>
