<div class="journal-header">
    <form action="/journal/new" method="get">
      <button type="submit" class="add-wine">Add My Own Wine</button>
    </form>
</div>

{{ journalFromDB.wine }}

<div class='wine-view'>

  {{wineInfo1.length}}
  
  {{#each journalFromDB}}
  {{> journalCard this}}
  {{/each}}

</div>
