<div class='wine-view'>
  {{#each journalFromDB}}
  {{> journalCard this}}
  {{/each}}
</div>

<br>

<h2>My Ratings</h2>
<h4>Count of my ratings: {{ userRatingsFromDB.length }}</h4>
<div id="rating-view">
  {{#each userRatingsFromDB}}
  {{> ratingCard this}}
  {{/each}}
</div>