{{!-- <div class="journal-header">
  <p>Want to journal about a wine that isn't in our database?</p>
    <form action="/journal/new" method="get">
      <button type="submit" class="add-wine">Add My Own Wine</button>
    </form>
</div> --}}

{{!-- how to pass ratings into journal card --}}

<div class='wine-view'>

  {{wineInfo1.length}}
  
  {{#each journalFromDB}}
  {{> journalCard this}}
  {{/each}}

</div>

<br>

<h2>My Ratings</h2>
<h4>Count of my ratings: {{ userRatingsFromDB.length }}</h4>


<div id="rating-view">
  {{#each userRatingsFromDB}}
  {{> ratingCard this}}
  {{/each}}

</div>