    <form action="/journal" id="add-form" method="post">
          
      {{!-- <input type="text" name="wine_id" value="" /> --}}
      <label for="wine">Wine Producer:</label>
      <input type="text" name="wine" value="" />
      <br>
      <label for="vintage">Vintage:</label>
      <input type="text" name="vintage" value="" />
      <br>
      <label for="appellation">Appellation:</label>
      <input type="text" name="appellation" value="" />
      <br>
      <label for="color">Color:</label>
      <input type="text" name="color" value="" />
      <br>
      <label for="regions">Region:</label>
      <input type="text" name="regions" value="" />
      <br>
      <label for="country">Country:</label>
      <input type="text" name="country" value="" />
      <br>
      {{!-- <input type="text" name="score" value="" /> --}}
      <button type="submit">Submit</button>
    </form>

    {{!-- <form action="/journal/new" method="post">
    <input type="text" name="writeUp" value="" />
    </form> --}}