    <form action="/journal/new" method="post">
          <label for="wine_id">Wine Id</label>
      <input type="text" name="wine_id" value="" />
      <label for="wine">Wine</label>
      <input type="text" name="wine" value="" />
      <input type="text" name="vintage" value="" />
      <input type="text" name="appellation" value="" />
      <input type="text" name="color" value="" />
      <input type="text" name="regions" value="" />
      <input type="text" name="country" value="" />
      <input type="text" name="score" value="" />
      <button type="submit">Submit</button>
    </form>

    {{!-- <form action="/journal/new" method="post">
    <input type="text" name="writeUp" value="" />
    </form> --}}