<div id="wine-search">
<form action="/wines" method="get">
    <label for="country">
        Country
    </label>
    <input type="text" name="country" value="">
    <br>

    {{!-- <label for="color">
        Color
    <select name="color" id="color">
      <option value="red">Red</option>
      <option value="rosé">Rosé</option>
      <option value="white">White</option>
    </select>
    <br>

    <label for="limitResults">
        Number of Results
    <select name="limitResults" id="limitResults">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
    </select>
    <br> --}}

    <button type="submit">Search</button>

</form>
</div>

Does this show up?
{{user.username}}
