<div id="wine-search">
<form action="/wines" method="post">
    <label for="country">
        Country
    </label>
    <input type="text" name="country" value="">
    <button type="submit">Seach</button>
</form>
</div>