<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wine Database</title>
</head>
<body>
    <input type="text" id="country-name">
    <button id="get-country-button">Search Wines</button>

    <h3 id='country-name-h3'></h3>
    <img id='flag' height="200px" src="" alt="" srcset="">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="index.js"></script>
</body>
</html>