<div id="wine-search">
<form action="/wines" method="get">
    <label for="country">
        Country
    </label>
    <input type="text" name="country" value="">
    <br>

    <label for="color">
        Color
    <select name="color" id="color">
      <option value="red">Red</option>
      <option value="rosé">Rosé</option>
      <option value="white">White</option>
    </select>
    <br>

    <label for="limitResults">
        Number of Results
    <select name="limitResults" id="limitResults">
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="150">150</option>
    </select>
    <br>

    <button type="submit">Search</button>
</form>
</div>