<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>



<header>
   <img src="/images/logo.png" />
   
   <ul id='navbar'>
      <li><a href="/">HOME</a></li>
      
      <li><a href="/journal">MY JOURNAL</a></li>
      
      {{#unless user}}
      <li><a href="/auth/signup">SIGN UP</a></li>
      
      <li><a href="/auth/login">LOGIN</a></li>
      {{/unless}}

      {{#if user}}
      <li><a href="/auth/logout">LOGOUT</a></li>
      {{/if}}
   </ul>
</header>

<body>

   <div>
   {{{body}}}
   </div>


   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</body>

</html>