{{username}}
<img src="{{profileImg}}" alt="user img" height="200px">

<form action="/profile" method="post" enctype="multipart/form-data">
  <input type="file" name="image" id="">
  <button>Submit</button>
</form>