

<div class='wine-view'>
  <div class="results">
      Showing <b>{{wineInfo1.length}}</b> results  -  {{wineInfo1.[0].country}}  -  {{wineInfo1.[0].color}} 

      
  </div>
  
      {{#each wineInfo1}}
        {{> wineCard this}}
      {{/each}}
  
</div>