

<div class='wine-view'>
  <div class="results">
      Showing <b>{{wineInfo1.length}}</b> results {{SavedResultsFromAPI.country}}
      
  </div>
  
      {{#each wineInfo1}}
        {{> wineCard this}}
      {{/each}}
  
</div>