.text-logo {
  font-family: Arial;
  color: navy;
  font-size: 34px;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 160px
}

header {
  align-items: center;
  background-color: lightgray;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
}

header * {
  display: inline;
}

header img {
  height: 120px
}

/* header h1 {
  margin-left: 50px;
  padding-right: 100px;
} */

header ul {
  padding-top: 50px
}

header li {
  margin: 20px;
}

header li a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  border: 2px black solid;
  padding: 5px 30px 5px 30px;
}

header li a:hover {
  color: white
}

header li a:active {
  color: darkgray;
}

.add-wine {
  background-color: white;
  border: 2px solid black;
  border-radius: 23px;
  font-size: 16px;
  width: 200px
}

.add-wine:hover {
  color: darkgray
}

.hide {
  display: none;
}

.results {
  background-color: white;
  height: 40px;
  width: 100%;
  padding-top: 20px;
  position: fixed;
  top: 120px;
}

/* .button {
  position: absolute;
  bottom: 0;
} */

#wine-search {
  padding-top: 30px
}

#params {
  padding-bottom: 10px
}

#wine-card {
  border: 2px solid black;
  border-radius: 23px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  height: 400px;
  width: 250px;
}

#journal-card {
  border: 2px solid black;
  border-radius: 23px;
  padding: 20px;
  height: 400px;
  width: 250px;
  margin-right: 20px;
  margin-bottom: 20px
}

.journal-header {
  height: 40px;
  padding-top: 30px;
}

.wine-details {
  position: absolute;
}

#wine-intro {
  padding-top: 40px
}

.wine-view {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px
}

.vintage-title {
  color: peru;
}

.rating-form {
  margin: 0
}

.rating-form li {
  list-style: none
}

#writeUp, #taste {
  height: 150px;
  width: 500px
}

#add-form label, input {
  margin-bottom: 20px
}