body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: red;
}

.hide {
  display: none;
}

#wine-card{
  display: flex;
  flex-wrap:wrap;
  border: solid;
  border-width: 5px;
  border-radius: 23px;
}